@model SeriesWatchlist

<div class="card">
    <div class="row no-gutters">
        <div class="col-sm-4 img-container">
            <img src="@Model.Series.PosterImg" class="card-img-top rounded" alt="Series cover" />
        </div>
        <div class="col-sm-8">
            <div class="card-body">
                @* Movie title *@
                <h4 class="card-title">@Model.Series.Title</h4>
                <div class="item-feedback">
                    <p class="vote-label">Vote</p>
                    @* Likes *@
                    <a class="btn thumb thumb-up" asp-controller="Series" asp-action="Likes" asp-route-SeriesId="@Model.Series.SeriesId" asp-route-WatchlistId="@Model.Watchlist.WatchlistId">
                        <i class="fas fa-thumbs-up"></i>
                        @* Add K or M suffix based on number of likes or dislikes *@
                        @if (Model.Series.Likes >= 1000000)
                        {
                            @string.Format("{0:#,0,, M}", Model.Series.Likes)
                        }
                        else if (Model.Series.Likes >= 1000)
                        {
                            @string.Format("{0:#,0, K}", Model.Series.Likes)
                        }
                        else
                        {
                            @Model.Series.Likes
                        }
                    </a>
                    @* Dislikes *@
                    <a class="btn thumb thumb-down" asp-controller="Series" asp-action="Dislikes" asp-route-SeriesId="@Model.Series.SeriesId" asp-route-WatchlistId="@Model.Watchlist.WatchlistId">
                        <i class="fas fa-thumbs-down"></i>
                        @* Add K or M suffix based on number of likes or dislikes *@
                        @if (Model.Series.Dislikes >= 1000000)
                        {
                            @string.Format("{0:#,0,, M}", Model.Series.Dislikes)
                        }
                        else if (Model.Series.Dislikes >= 1000)
                        {
                            @string.Format("{0:#,0, K}", Model.Series.Dislikes)
                        }
                        else
                        {
                            @Model.Series.Dislikes
                        }
                    </a>
                </div>
                <div class="btn-container">
                    <a class="btn btn-details" asp-controller="Series" asp-action="Details" asp-route-Id="@Model.Series.SeriesId">View details</a>
                    <a class="btn btn-remove" asp-controller="Watchlists" asp-action="RemoveSeries" asp-route-SeriesId="@Model.Series.SeriesId" asp-route-WatchlistId="@Model.WatchlistId">Remove</a>
                </div>
            </div>
        </div>
    </div>
</div>